<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate = "layout/main.html">
<body>
<div layout:fragment="mainContent">
    <div class="container">
            <h1 class="text-danger">ACCES DENIED</h1>
        <h2 th:text="${#authentication.getPrincipal().fullName}"></h2>
        <h2>you are not allowed</h2>
    </div>
</div>
</body>
</html>